body{
    text-align : center;
    margin : 0;
    padding : 0;
    font-family : Arial, Helvetica, sans-serif;
    background-color : #f4f4f4

}

.registration{
    text-align : center;
    margin : auto;
    padding : 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
  
}

.container{
    width : 300px;
    background : white;
    padding : 20px;
    margin : 50px auto;
    box-shadow : 0px 0px 10px rgba(0,0,0,0.1);
    border-radius : 5px;

}


input {
    text-align : center;
    margin : 10px 0;
    padding : 10px;
    width : 90%;
    border : 1px solid #ccc;
    border-radius : 5px;
}

button{
    width : 100%;
    border-radius : 5px;
    border : none;
    padding : 10px;
    background-color: #007bff;
    color : white;
    cursor : pointer;
}

button:hover{
    background-color: #0056b3;
}